.composition {
  position: relative;

  &__img {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all 0.3s;
    z-index: 10;
    outline-offset: 2rem;

    &--p1 {
      top: 3rem;
      left: -2rem;
      outline: 1.5rem solid rgba($color-primary-light, 0.5);
      z-index: 20;
    }

    &--p2 {
      top: 2rem;
      right: 0rem;
    }

    &--p3 {
      top: 12rem;
      left: 13%;
    }

    &:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      outline: 1.5rem solid $color-primary-dark;
      z-index: 20;
    }
  }

  &:hover &__img:not(:hover) {
    transform: scale(0.95);
    outline: none;
  }
}
