@mixin clearFix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

/* Media query mixin */

@mixin respond($breakPoint) {
  @if $breakPoint == phone {
    @media (max-width: 37.5em) {
      // 600px
      @content;
    }
  }
  @if $breakPoint == tab-port {
    @media (max-width: 56.25em) {
      // 900px
      @content;
    }
  }
  @if $breakPoint == tab-land {
    @media (max-width: 72em) {
      // 1200px
      @content;
    }
  }
  @if $breakPoint == big-desktop {
    @media (min-width: 112.5em) {
      // 1800px
      @content;
    }
  }
}
