.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.p-relative {
  position: relative;
}

.z-i-1 {
  z-index: 1;
}

.mb-l {
  margin-bottom: 8rem;
}

.mb-m {
  margin-bottom: 4rem;
}

.mb-s {
  margin-bottom: 1.5rem;
}

.mb-sx {
  margin-bottom: 0.5rem;
}
